<div class="container">
    <h3>Name: <%= response.data.name %> </h3><br />
    <h3>Climate: <%= response.data.climate %> </h3><br />
    <h3>Terrain: <%= response.data.terrain %> </h3><br />
    <h3>Surface water: <%= response.data.surface_water %> </h3><br />
    <h3>Residents: <%= response.data.residents %> </h3><br />
    <h3>Films :<%= response.data.films %> </h3><br />

</div> 