<div class="container">
    <h3>Name: <%= response.data.name %> </h3><br />
    <h3>Description: <%= response.data.description %> </h3><br />
    <h3>Vehicle class: <%= response.vehicle_class %> </h3><br />
    <h3>Length: <%= response.data.length %> </h3><br />
    <h3>Pilot: <%= response.data.pilot %> </h3><br />
    <h3>Films :<%= response.data.films %> </h3><br />

</div> 