<div class="container">
    <h3> <%= response.data.name %> </h3><br />
    <h3> <%= response.data.gender %> </h3><br />
    <h3> <%= response.data.age %> </h3><br />
    <h3> <%= response.data.eye_color %> </h3><br />
    <h3> <%= response.data.hair_color %> </h3><br />
    <h3> <%= response.data.films %> </h3><br />

</div> 