<div class="container">
    <h3><%= response.data.title %> </h3><br />
    <h3>Director: <%= response.data.director %> </h3>
    <h3>Producer: <%= response.data.producer %> </h3>
    <h3>Release Date: <%= response.data.release_date %> </h3><br />
    <h3><%= response.data.description %> </h3><br />
</div> 